@charset "UTF-8";

/* font-family: 'Nanum Gothic', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif; */

/* 기본 컬러 지정 */
:root{
  --textDarkColor: #3a3a3a;
  --textMidColor: #666666;
  --textLightColor: #fafafa;
  --textHoverColor: #edd000;
  --backColor: #fafafa;
  --backLightColor: #fff;
}

/* 데스크탑 바디 */
body{
  margin: 0 0 0 180px;
  background-color: #fafafa;
  background-color: var(--backColor);
}

@media(max-width:450px){
  body{
    margin: 50px 0 0 0;
    background-image: url(../img/bg.svg);
    background-size: cover;
    background-attachment: fixed;
  }
}

/* 헤더 설정 */
header .container{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  background-color: var(--backLightColor);
  height: 100vh;
  width: 180px;
  box-shadow:1px 0 10px rgba(150,150,150,.2);
}

header .logo{
  margin: 50px 0 35px 30px;
  width: 90px;
}

header .fixedNav{
  margin: 0 30px;
}

header ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

header li{
  padding: 0;
  line-height: 2.5em;
}

header ul li a{
  text-decoration: none;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

header ul li a:hover{
  color: #edd000;
  color: var(--textHoverColor);
  transition: 0.3s;
}

header ul li a:active{
  color: #edd000;
  color: var(--textHoverColor);
}

@media(max-width:450px){
  header{
    display: none;
  }
}

/* 푸터 설정 */
footer .container{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  background-color: var(--backLightColor);
  height: 300px;
  width: 180px;
}

footer .fixedInfo{
  position: absolute;
  bottom: 30px;
  margin: 0 30px;
}

footer p{
  margin: 0;
  padding: 0;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 10px;
  line-height: 1.7em;
  text-decoration: none;
}

@media(min-width:451px){
  footer .mobileInfo{
    display: none;
  }
}

@media(max-width:450px){
  footer .container{
    position: static;
    background-color: #666666;
    background-color: var(--textMidColor);
    width: 100%;
    height: auto;
    margin-top: 10px;
  }

  footer .fixedInfo{
    display: none;
  }

  footer .mobileInfo{
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .mobileInfo p{
    padding: 0;
    color: #fff;
    color: var(--textLightColor);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: .5em;
    text-decoration: none;
  }
}

/* conMobileA */
@media(min-width:451px){
  .conMobileA{
    display: none;
  }
}

@media(max-width:450px){
  .conMobileA{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    /* box-shadow:1px 1px 3px rgba(150,150,150,.3); */
  }

  .conMobileA .container{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.2); */
    display: flex;
    justify-content: space-between;
  }

  .conMobileA .logo{
    margin: auto 10px;
    height: 35%;
  }

  .conMobileA .navBtnBox{
    width: 15%;
    height: 100%;
    margin: auto 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .conMobileA .navBtn{
    margin: auto 0;
    height: 45%;
  }

  .conMobileA .slideNav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.1s;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 0;
  }

  .conMobileA .darkBack{
    background-color: rgba(0, 0, 0, 0.7);
  }

  .conMobileA .mobileNav{
    background-color: #fafafa;
    box-shadow:-3px 0px 5px rgba(150,150,150,.5);
    position: relative;
  }

  .conMobileA .slideNav ul{
    position: absolute;
    top: 50px;
    list-style: none;
    margin: 0 15px;
    padding: 0;
  }

  .conMobileA .slideNav li{
    text-decoration: none;
    color: #666666;
    color: var(--textMidColor);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 2.5em;
  }

  .conMobileA .slideNav ul a{
    text-decoration: none;
    padding: 0 auto;
  }

  .conMobileA .slideNav .xBox{
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
  }

  .conMobileA .xBox .closebtn{
    flex: auto;
    margin: auto 15px;
    height: 45%;
  }

  .conMobileA .slideNav ul li a:hover{
    color: #edd000;
    color: var(--textHoverColor);
    transition: 0.3s;
  }

  .conMobileA .slideNav ul li a:active{
    color: #edd000;
    color: var(--textHoverColor);
  }
}

/* conLast */
.conLast .container{
  height: 200px;
}

@media(max-width:450px){
  .conLast{
    display: none;
  }
}

/* conA */
.conA .container{
  display: block;
  margin: 0 auto;
  width: 80%;
}

.conA .title p{
  text-align: center;
  margin: 50px auto;
  padding: 0;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.conA img{
  display: block;
  width: 100%;
  box-shadow:1px 1px 3px rgba(150,150,150,.3);
}

@media(max-width:450px){
  .conA .container{
    width: 95%;
  }

  .conA .title p{
    margin: 0 auto;
    padding: 30px 0;
    font-size: 1.5em;
    font-weight: 600;
  }
}

/* conB */
.conB .container{
  margin: 0 auto;
  width: 80%;
}

.conB .title p{
  text-align: center;
  margin: 50px auto;
  padding: 0;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.conB .productList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.conB .newProduct{
  width: 100%;
  background-color: #fff;
  background-color: var(--backLightColor);
  box-shadow:1px 1px 3px rgba(150,150,150,.3);
  position: relative;
}

.conB .thumbnail{
  margin: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.conB .thumbnail img{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%
}

.conB .name{
  text-align: left;
  margin: 15px 0 0 15px;
  padding: 0;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.conB .size{
  text-align: left;
  margin: 8px 0 0 15px;
  padding: 0;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.conB .cost1{
  text-align: left;
  margin: 15px 0 0 15px;
  padding: 0;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: line-through;
}

.conB .cost2{
  text-align: left;
  margin: 0.2em 0 15px 15px;
  padding: 0;
  color: #edd000;
  color: var(--textHoverColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.conB .saleTag{
  position: absolute;
  top: 15px;
  right: 15px;

  width: 100px;
  height: 100px;
  background-color: #edd000;
  background-color: var(--textHoverColor);
  border-radius: 50%;
  box-shadow:1px 1px 3px rgba(150,150,150,.3);

  display: flex;
  align-items: center;
  justify-content: center;
}

.conB .saleTag .saleNum{
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  color: var(--textLightColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.conB .linkProduct{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.conB .newProduct:hover img{
  transform: scale(1.01);
}

.conB .newProduct:hover .darkBack{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

@media(max-width:450px){
  .conB .container{
    width: 95%;
  }

  .conB .title p{
    margin: 0 auto;
    padding: 30px 0;
    font-size: 1.5em;
    font-weight: 600;
  }

  .conB .productList{
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .conB .name{
    margin: 10px 0 0 10px;
    font-size: 1em;
    font-weight: 600;
  }

  .conB .size{
    margin: 5px 0 0 10px;
    font-size: 0.7em;
    font-weight: 300;
  }

  .conB .cost1{
    margin: 10px 0 0 10px;
    font-size: 0.9em;
  }

  .conB .cost2{
    margin: 3px 0 10px 10px;
    font-size: 1.1em;
    font-weight: 600;
  }

  .conB .saleTag{
    top: 0.5em;
    right: 0.5em;
    width: 3.5em;
    height: 3.5em;
  }

  .conB .saleTag .saleNum{
    font-size: 1.3em;
    font-weight: 600;
  }

  .conB .newProduct:hover img{
  }

  .conB .newProduct:hover .darkBack{
  }
}

/* conC */
.conC .container{
  margin: 0 auto;
  width: 80%;
}

.conC .title p{
  text-align: center;
  margin: 50px auto;
  padding: 0;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.conC .eventList{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.conC .event{
  width: 100%;
  box-shadow:1px 1px 3px rgba(150,150,150,.3);
  position: relative;
}

.conC .thumbnail{
  margin: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.conC .thumbnail img{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%
}

.conC .event .imgEvent{
  display: block;
  width: 100%;
}

.conC .eventName{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 50%;

  text-align: left;
  margin: 0;
  padding: 0;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.conC .eventName .eventInfo{
  text-align: left;
  margin: 0;
  padding: 30px 0;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.conC .moreBtn{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15%;
}

.conC .linkEvent{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.conC .event:hover img{
  transform: scale(1.01);
}

.conC .event:hover .darkBack{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

@media(max-width:450px){
  .conC .container{
    width: 95%;
  }

  .conC .title p{
    margin: 0 auto;
    padding: 30px 0;
    font-size: 1.5em;
    font-weight: 600;
  }

  .conC .eventList{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .conC .eventName{
    top: 10px;
    left: 10px;
    width: 70%;
    font-size: 1.3em;
    font-weight: 600;
  }

  .conC .eventName .eventInfo{
    font-size: .9em;
    font-weight: 300;
  }

  .conC .moreBtn{
    width: 25%;
  }

  .conC .event:hover img{
  }

  .conC .event:hover .darkBack{
  }
}

/* conD */
.conD .container{
  margin: 0 auto;
  width: 80%;
}

.conD .title p{
  text-align: center;
  margin: 50px auto;
  padding: 0;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.conD .aboutUsList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.conD .aboutUs{
  width: 100%;
  background-color: #fff;
  background-color: var(--backLightColor);
  box-shadow:1px 1px 3px rgba(150,150,150,.3);
  position: relative;
}

.conD .thumbnail{
  margin: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.conD .thumbnail img{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%
}

.conD p{
  margin: 15px;
  line-height: 1.5em;
}

.conD .keyword{
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.conD .content{
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

.conD .linkAboutUs{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.conD .aboutUs:hover img{
  transform: scale(1.01);
}

.conD .aboutUs:hover .darkBack{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

@media(max-width:450px){
  .conD{
    display: none;
  }
}

/* conE */
.conE .container{
  display: block;
  margin: 0 auto;
  width: 80%;
}

.conE .title p{
  text-align: center;
  margin: 50px auto;
  padding: 0;
  color: #666666;
  color: var(--textMidColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.conE .showroomList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.conE .showroom{
  width: 100%;
  background-color: #fff;
  background-color: var(--backLightColor);
  box-shadow:1px 1px 3px rgba(150,150,150,.3);
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.conE .thumbnail{
  margin: 0;
  padding-top: 70%;
  position: relative;
  overflow: hidden;
}

.conE .thumbnail img{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.conE .welcome{
  text-align: left;
  margin: 0 0 0 0;
  padding: 0;
  color: #edd000;
  color: var(--textHoverColor);
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5em;
}

.conE .locationTitle, .hourTitle, .contactTitle{
  text-align: left;
  margin: 15px 0 0 15px;
  padding: 0;
  color: #fff;
  color: var(--textLightColor);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.conE .location, .hour, .contact{
  text-align: left;
  margin: 10px 0 15px 15px;
  padding: 0;
  color: #fff;
  color: var(--textLightColor);
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
}

.conE .map{
  width: 100%;
  background-color: #fff;
  background-color: var(--backLightColor);
  box-shadow:1px 1px 3px rgba(150,150,150,.3);
  grid-column: 3;
  grid-row: 1;
  position: relative;
}

/* .conE .mapSize{
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
} */

.conE .map iframe{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.conE .informationBox{
  grid-column: 3;
  grid-row: 2;
  width: 100%;
  background-color: #edd000;
  background-color: var(--textHoverColor);
  box-shadow:1px 1px 3px rgba(150,150,150,.3);
  text-decoration: none;
}

.conE .linkShowroom{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.conE .showroom:hover img{
  transform: scale(1.01);
}

.conE .showroom:hover .darkBack{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

@media(max-width:450px){
  .conE .container{
    width: 95%;
  }

  .conE .title p{
    margin: 0 auto;
    padding: 30px 0;
    font-size: 1.5em;
    font-weight: 600;
  }

  .conE .showroomList{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .conE .showroom{
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  .conE .thumbnail{
    margin: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
  }

  .conE .thumbnail .centerBox{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/showroom.jpg);
    background-position: center;
    background-size: cover;
  }

  .conE .thumbnail img{
    display: none;
  }

  .conE .informationBox .welcome{
    display: none;
  }

  .conE .locationTitle, .hourTitle, .contactTitle{
    margin: 10px 0 5px 10px;
    font-size: 1.1em;
    font-weight: 600;
  }

  .conE .location, .hour, .contact{
    text-align: left;
    margin: 0 0 10px 10px;
    font-size: 0.8em;
    font-weight: 400;
  }

  .conE .map{
    grid-column: 1;
    grid-row: 3;
  }

  .conE .mapSize{
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
  }

  .conE .informationBox{
    grid-column: 1;
    grid-row: 2;
  }

  .conE .showroom:hover img{
  }

  .conE .showroom:hover .darkBack{
  }

  .conE .showroom .darkBack{
    display: none;
  }
}
