.xans-member-checkpassword { padding:80px 0; text-align:center; }
.xans-member-checkpassword .confirm { width:330px; margin:0 auto; }
.xans-member-checkpassword .confirm .info { margin:50px 0; line-height:150%;}

.xans-member-checkpassword .confirm .password label { display:inline-block; margin:0 0 5px; padding:0 0 0 10px; width:80px; font-weight:normal;}
.xans-member-checkpassword .confirm .password input { width:175px; height:18px; margin:0 13px 0 0; padding:2px 2px 2px 3px; }
.xans-member-checkpassword .confirm .button { margin:40px 0 10px; }